/*==================== 
		INDEX
======================*/

html {
	height:100%;
}

body {
	height: 100%;
	padding-bottom: 70px; 
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
	background-image: -webkit-linear-gradient(top, #60ebeb 0%, #e9c9f0 100%);
	font-family: 'Quicksand', sans-serif;
	min-height: 400px;
   margin-bottom: 150px;
   clear: both;
	
}

.nav-fixed-top {
	background-color: #eee;
}

#wrapper{
	margin-bottom: 170px;
}

footer{
          padding-top: 5px;
          background-color: #eee;
          text-align: center;
          border-radius: 10px;
          margin:10px 0 0 0;
          
}


.miniLink {
	width: 50px ;
	margin: 20px;
}

.glyphicon-envelope {
	font-size: 40px;
	margin: 10px;
}

.container_body{
	background-color: #eee;
	border-radius: 10px;
	-webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
	-moz-box-shadow: 0 10px 20px rgba(0,0,0,.7);
        box-shadow: 0 10px 20px rgba(0,0,0,.7);
    margin-bottom: 40px;
    padding: 10px;
}

.nav-brand, h1, a {
	color: black;
	text-decoration:none;
}

.nav-brand, h1, a:hover {
	text-decoration:none;

}

/*==================== 
		HOME
======================*/


.homeImgs {
	margin: 55px;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
	display: block;

	

}


#homePageTxt {
	margin:10px;
	background-color: #eee;
	border-radius: 10px;
	width: inherit;
}

.newsImg{
	margin: 8px;
}

/*==================== 
		MEDIA 
======================*/

/* Photos */

.polaroid-images a {
	background: white;
	display: inline;
	float: left;
	margin: 0 15px 30px 70px;
	padding: 10px 10px 25px;
	text-align: center;
	text-decoration: none;
	-webkit-box-shadow: 0 4px 6px rgba(0,0,0,.3);
	-moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
	box-shadow: 0 4px 6px rgba(0,0,0,.3);
	-webkit-transition: all .15s linear;
	-moz-transition: all .15s linear;
	transition: all .15s linear;
	z-index: 0;
	position: relative;
}

.polaroid-images a:after {
	color: #333;
	font-size: 20px;
	content: attr(title);
	position: relative;
	top: 15px;
}

.polaroid-images img {
	display: block;
	width: inherit;
}

/* Rotate all even images 2 degrees */
.polaroid-images a:nth-child(even){
	-webkit-transform:rotate(2deg);
	-moz-transform:rotate(2deg);
	transform:rotate(2deg);
}

.polroid-images a:nth-child(3n) {
	-webkit-transform:rotate(-12deg);
	-moz-transform:rotate(-12deg);
	transform:rotate(-12deg);
}

.polroid-images a:nth-child(4n) {
	-webkit-transform:rotate(14deg);
	-moz-transform:rotate(14deg);
	transform:rotate(14deg);
}
.polroid-images a:nth-child(5n) {
	-webkit-transform:rotate(-18deg);
	-moz-transform:rotate(-18deg);
	transform:rotate(-18deg);
}

.polaroid-images a:hover{
	-webkit-transform: rotate(0deg); 
	-moz-transform: rotate(0deg);
        transform: rotate(0deg);
	-webkit-transform: scale(1.2); 
	-moz-transform: scale(1.2);
        transform: scale(1.2);
	z-index:10;
	-webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
	-moz-box-shadow: 0 10px 20px rgba(0,0,0,.7);
        box-shadow: 0 10px 20px rgba(0,0,0,.7);
}

/*Videos */

.video_outer_wrap {
    width: 100%;
    max-width: 560px;
    margin: 15px auto;
}
.video_wrap {
    position: relative;
    padding-bottom: 56%;
    padding-top: 0px;
    height: 0;
    background-color: #000 !important;
}
.video_wrap iframe,
.video_wrap object,
.video_wrap embed {
    position:absolute;
    top:0;
    width:100%;
    height:100%;
}

.bottomshadows {
	-webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
	-moz-box-shadow: 0 10px 20px rgba(0,0,0,.7);
        box-shadow: 0 10px 20px rgba(0,0,0,.7);
}

/* Audio */ 

.audio_controls {
	width: 250px;
	border-radius: 10px;
	margin: 10px 5px 10px 65px;

}

audio:hover, audio:focus, audio:active
{
-webkit-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
-moz-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
-webkit-transform: scale(1.05);
-moz-transform: scale(1.05);
transform: scale(1.05);
}

audio
{
-webkit-transition:all 0.5s linear;
-moz-transition:all 0.5s linear;
-o-transition:all 0.5s linear;
transition:all 0.5s linear;
-webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
	-moz-box-shadow: 0 10px 20px rgba(0,0,0,.7);
        box-shadow: 0 10px 20px rgba(0,0,0,.7);
-moz-border-radius:7px 7px 7px 7px ;
-webkit-border-radius:7px 7px 7px 7px ;
border-radius:7px 7px 7px 7px ;
}

.album_artwork {
	border-radius: 250px;
	margin: 10px 5px 10px 70px
}

/*==================== 
		ABOUT
======================*/

.bandMemberInfo{
	
  border-radius: 10px;
  margin-top: 88px;
  padding-bottom: 22px;
  text-align: center;
}

.bandMemberInfo img {
	border-radius:250px;
  height: 250px;
  margin: -66px 0 22px 0;
  vertical-align: top;
}

/*==================== 
		GIGS
======================*/

th {
	font-size: 20px;
	font-weight: bold;

}


/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/
/* Large desktops and laptops */
@media (min-width: 1200px) {
/*css specific properties col-lg-* */
}
 
/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
/*css specific properties col-md-* */
}
 
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
/* css specific properties col-sm-* */
}
 
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
/* css specific properties col-xs-* */
}
 
/* Portrait phones and smaller */
@media (max-width: 480px) {
	#wrapper{
		padding-bottom: 200px;
	}
/* css specific properties col-xs-* or none for default */
}