<footer id="footer" class="footer navbar-deafult">
	
		<div class="row">
		    
		    <div class="col-sm-4">
		    <h3 class>Connect</h3>
		      <span><a href="http://facebook.com"><img class="miniLink" src="media/icons/facebook.png" alt="facebook logo"></a></span>
		      <span><a href="http://twitter.com"><img class="miniLink" src="media/icons/twitter.png" alt="twitter logo"></a></span>
		      <span><a href="http://youtube.com"><img class="miniLink" src="media/icons/youtube.png" alt="facebook logo"></a></span>
		    </div>
		    <div class="col-sm-4">
		     <h3>Subscribe</h3>
		     <p>Subscribe to our mailing list to stay updated</p>
		    <form name="subsribeForm" data-ng-submit="submitForm()" ng-class="{ 'has-error' : subscribeForm.email.$invalid && !subscribeForm.email.$pristine }">
		    <div class="input-group">
			<input type="email" name="email" id="contactEmail" class="form-control" ng-model="user.email" required placeholder="Email Address">
			<span class="input-group-btn">
			<button class="btn btn-info " type="submit">Submit</button>
			</span>
			</div>
			<p data-ng-show="subsribeForm.email.$invalid && !subscribeForm.email.$pristine" class="help-block">Enter a valid email</p>
			</form>
		    </div>
		    <div class="col-sm-4">
		      <h3>Contact</h3>
		      <span class="glyphicon glyphicon-envelope"></span>
		      <a href="mailto:maisie-campbell@hotmail.com?Subject=Hello%20again" target="_top">Email Us!</a>
		    </div>
  		</div>
		
	</footer>