<div class="container container_body">
<h2>Gigs</h2>
<p>Want to see us play live? See below our upcoming gigs.</p>
	<table class="table table-responsive table-condensed" id="gigTable">
		<thead>
			<tr>
				<th>Date</th>
				<th>Venue</th>
				<th>Location</th>
				<th>Price</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td scope="row">26th March</td>
				<td>Insert Venue</td>
				<td>Insert Location</td>
				<td>Insert Price</td>
			</tr>
			<tr>
				<td scope="row">26th March</td>
				<td>Insert Venue</td>
				<td>Insert Location</td>
				<td>Insert Price</td>
			</tr>
			<tr>
				<td scope="row">26th March</td>
				<td>Insert Venue</td>
				<td>Insert Location</td>
				<td>Insert Price</td>
			</tr>
			<tr>
				<td scope="row">26th March</td>
				<td>Insert Venue</td>
				<td>Insert Location</td>
				<td>Insert Price</td>
			</tr>
			<tr>
				<td scope="row">26th March</td>
				<td>Insert Venue</td>
				<td>Insert Location</td>
				<td>Insert Price</td>
			</tr>
		</tbody>
	</table>
</div>