<div class="container">
	<div class="row">
		<div class="col-md-4">
			<div class="polaroid-images">
				<a href="" title="Picture 1" data-toggle="modal" data-target="#myModal">
				<img height="200" src="http://lorempixel.com/200/200" class="modal-thumb" data-modal-title="Image 1" alt="picture1" title="Picture 1">
				</a>

				<!-- Modal -->
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <img>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
					
				</div>
			</div>
		
		<div class="col-md-4">
			<div class="polaroid-images">
				<a href="" title="Picture 2" data-toggle="modal" data-target="#myModal">
				<img height="200" src="http://lorempixel.com/200/200" class="modal-thumb" data-modal-title="Image 2" alt="picture2" title="Picture 2" >
				</a>
			</div>
			</div>
			<div class="col-md-4">
			<div class="polaroid-images">
				<a href="" title="Picture 3" data-toggle="modal" data-target="#myModal">
				<img height="200" src="http://lorempixel.com/200/200" class="modal-thumb" data-modal-title="Image 3" alt="picture3" title="Picture 3" >
				</a>
			</div>
		</div>
		<div class="col-md-4">
			<div class="polaroid-images">
				<a href="" title="Picture 4" data-toggle="modal" data-target="#myModal">
				<img height="200" src="http://lorempixel.com/200/200" class="modal-thumb" data-modal-title="Image 4" alt="picture4" title="Picture 4" >
				</a>
			</div>
		</div>
		<div class="col-md-4">
			<div class="polaroid-images">
				<a href="" title="Picture 5" data-toggle="modal" data-target="#myModal">
				<img height="200" src="http://lorempixel.com/200/200" class="modal-thumb" data-modal-title="Image 5" alt="picture5" title="Picture 5" >
				</a>
			</div>
			</div>
			<div class="col-md-4">
			<div class="polaroid-images">
				<a href="" title="Picture 6" data-toggle="modal" data-target="#myModal">
				<img height="200" src="http://lorempixel.com/200/200" class="modal-thumb" data-modal-title="Image 6" alt="picture6" title="Picture 6" >
				</a>
			</div>
		</div>
	</div>
</div>

